.bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bike .title p {
  text-transform: uppercase;
}

.bike-image {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bike-image img {
  flex: 1;
  min-width: 200px;
}

.bike-image img:first-child {
  min-width: 100%;
}

.bike-content > p {
  margin-bottom: 32px;
}

.bike-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bike-buy a {
  grid-row: 1/3;
}

.bike-buy span {
  display: flex;
  align-items: center;
  background-color: var(--c-12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bike-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bike-info,
.bike-datasheet {
  padding: 32px;
  background-color: var(--c-12);
  border-radius: 4px;
}

.bike-info {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bike-info img {
  width: 24px;
  margin-bottom: 8px;
}

.bike-info h3 {
  margin-bottom: 8px;
}

.bike-datasheet li {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-11);
}

.bike-datasheet li:last-child {
  border-bottom: none;
}

.bike-datasheet li span {
  color: var(--c-06);
}

@media (max-width: 800px) {
  .bike {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bike-image {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bike-buy {
    grid-template-columns: 1fr;
  }

  .bike-info {
    grid-template-columns: 1fr;
  }
}
