.insurance-bike-bg {
  background-color: var(--c-11);
  box-shadow: inset 0 120px var(--c-00), inset 0 -120px var(--c-12);
}

.insurance-bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.insurance-bike-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insurance-bike-content {
  padding-top: 180px;
  padding-bottom: 180px;
}

.insurance-bike h2 {
  margin-bottom: 32px;
}

.insurance-bike p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .insurance-bike-bg {
    box-shadow: inset 0 -60px var(--c-12);
  }

  .insurance-bike {
    grid-template-columns: 1fr;
  }

  .insurance-bike-image {
    height: 200px;
  }

  .insurance-bike-content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
