#contact {
  background: linear-gradient(var(--c-11) 600px, var(--c-00) 0px);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact-data,
.contact-form {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-data {
  border-radius: 4px 0 0 4px;
  background: var(--c-12) url("../../assets/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
}

.contact-form {
  border-radius: 0 4px 4px 0;
  background: var(--c-00) url("../../assets/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
}

.contact-data h2 {
  margin-bottom: 60px;
}

.contact-address {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("../../assets/icones/local.svg") no-repeat 0px 2px;
}

.contact-address p {
  margin-bottom: 8px;
}

.contact-mails a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contact-mails a:hover {
  color: var(--c-00);
}

.contact-mails a:nth-child(2) {
  margin-bottom: 32px;
}

.contact-mails a:first-child {
  background: url("../../assets/icones/email.svg") no-repeat 0px 2px;
}

.contact-mails a:nth-child(3) {
  background: url("../../assets/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contact-network {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact-data,
  .contact-form {
    padding: 20px;
  }

  .contact-data {
    border-radius: 4px 4px 0 0;
    background: var(--c-12);
  }

  .contact-form {
    border-radius: 0 0 4px 4px;
    background: var(--c-00);
  }

  .contact-data h2,
  .contact-mails a:nth-child(3) {
    margin-bottom: 32px;
  }

  .contact-network {
    margin-bottom: 12px;
  }
}
