.footer-container {
  background-color: #000000;
}

.footer {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}

.footer-text {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contact li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contact li a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1/-1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contact li {
    font-size: 1.5rem;
  }
}
