body {
  margin: 0;
  font-family: "Fira-Sans", "Arial", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitle {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    word-break: break-all;
    max-width: initial !important;
  }
}
